.one
{
    color: red;
    margin: auto;
    padding: auto;
}
th{
    text-align: center;
    color:yellow;
}
td
{
    text-align: center;
    color: azure;
}
table
{
    background-color: black;
}
#h2
{
    color: aqua;
    margin: auto;
    padding: 10%;
}
input
{
    color: rebeccapurple;
    text-align: center;
}
label
{
    color: blue;
}